<%-include("partials/header")%>

<div class="text" id="rankingsdef" ><span class="resultscolor">Rankings<hr></span>
  <div style="text-align: center;">
    <img src="/images/trophy3.png" class="rankingimg">
    <div class="rankingarea">
      <!-- dropdown menu  -->


      <div class="dropdown-menu">
        <form action="/rankings" method="post">
            <select name="semester" class="ranksemester" onchange="this.form.submit()">
              <option id="1" value="1" >Semester 1</option>
              <option id="2" value="2" >Semester 2</option>
              <option id="3" value="3" >Overall</option>
            </select>
        </form>
      </div>
      <script>
        $("select option[value='"+<%=semNumber%>+"']").attr("selected","true");
      </script>



      <div class="table3">
      <table class="rankingtable" >
        <thead>
        <tr>
          <th><span class="headingcolor">Rank</span></th>
          <th><span class="headingcolor">Name</span></th>
          <th><span class="headingcolor">
            <%if (semNumber == 1 || semNumber == 2) {%>
              SGPA
            <%} else {%>
              CGPA
            <%}%>
          </span></th>
        </tr>
        </thead>
        <tbody>
          <%rankings.forEach(function(ranking,index){%>
            <tr class="selectedStudent <%= (ranking.Name).substring(0, (ranking.Name).indexOf(' ')) === results[0].first_name ? 'highlight' : '' %>">
              <td><%=index+1+"."%></td>
               <td class=""><%=ranking.Name%></td>
              <%if (semNumber == 1 || semNumber == 2) {%>
                <td><%=ranking.sgpa%></td>
              <%} else {%>
                <td><%=ranking.cgpa%></td>
              <%}%>
            </tr>
          <%});%>
      </tbody>
      </table>

    </div>
    </div>
  </div>
</div>


<%-include("partials/footer")%>
