<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../CSS/styles2.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Dashboard Sidebar Menu</title>-->
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../images/icons8-test-account-80.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name" style="color:#F806CC;"><%=greetings%></span>
                    <span class="student" style="font-size:1.2rem;"><%=results[0].first_name%></span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu" >

                <form  action="/result" method="post">
                  <li class="search-box">
                      <i class='bx bx-search icon'></i>
                      <input name="searchTxt" type="text" placeholder="Roll No." onchange="this.form.submit()" autocomplete="off" id="rollNo">
                  </li>
                </form>


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#" id="result" >
                            <i class="uil uil-medal icon"></i>
                            <span class="text nav-text " >Results</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" id="analytics" >
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" id="rankings">
                            <i class="uil uil-trophy icon"></i>
                            <span class="text nav-text">Rankings</span>
                        </a>
                    </li>




                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Back to home</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-sun icon sun'></i>
                        <i class='bx bx-moon icon moon'></i>

                    </div>
                    <span class="mode-text text">Light mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text" id="resultdef" ><span class="resultscolor">Results<hr></span>

          <table class="studentinfo" width="1330" border="0">
          <tr>
          <td width="140"><span class="headingcolor">Name:</span>&nbsp&nbsp<%=(results[0].first_name)%>&nbsp<%=(results[0].last_name)%></td>
          <td width="70"><span class="headingcolor">Program:</span>&nbsp&nbsp<%=results[0].dept_name%></td>
          </tr>
          <tr>
          <td><span class="headingcolor">Regd.No.:</span>&nbsp&nbsp<%= results[0].regd_no%></td>
          <td><span class="headingcolor">Batch:</span>&nbsp&nbsp<%=results[0].batch%></td>
          </tr>
          </table>
          <!-- dropdown menu  -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

          <div class="dropdown-menu">
            <form action="/result" method="post">
                <select name="semester" class="semester" onchange="this.form.submit()">
                    <option id="1" value="1" >Semester 1</option>
                    <option id="2" value="2" >Semester 2</option>
                </select>
            </form>
        </div>

        <script>
          $("select option[value='"+<%=semNumber%>+"']").attr("selected","true");
        </script>
          <table class="roundedCorners" id="table1" width="873">
            <tr>
              <td><span class="headingcolor">Course Code</span></td>
              <td><span class="headingcolor">Course Name</span></td>
              <td><span class="headingcolor">Credit Point</span></td>
              <td><span class="headingcolor">Internal</span></td>
              <td><span class="headingcolor">End Sem </span></td>
              <td><span class="headingcolor">Total Marks</span></td>
              <td><span class="headingcolor">Grades</span></td>
              <td><span class="headingcolor">Grade Points</span></td>
            </tr>

            <%results.forEach(function(result){%>
              <tr>
                <%if(result.dept_id===1){%>
                  <td><%="BDS"+(result.course_code)%></td>
              <%  }else{ %>
                  <td><%="BCS"+(result.course_code)%></td>
              <%  }%>

                <td><%=result.name%></td>
                <td><%=result.credit_point%></td>
                <td><%=result.internal%></td>
                <td><%=result.end_sem%></td>
                <td><%=(result.internal + result.end_sem)%></td>
                <td><%=result.grades%></td>
                <td><%=(result.internal + result.end_sem)/10%></td>
              </tr>
            <%});%>

          </table>

          

          <table class="roundedCorners" id="table2">
            <tr>
              <td class="gpa">SGPA</td>
              <td class="gpa">CGPA</td>
            </tr>
            <tr>
              <td ><%=resultStatus[0].sgpa%></td>
              <td ><%=resultStatus[0].cgpa%></td>
            </tr>
          </table>
          <p id="status"><span id="statuscolor"> Result status:</span>&nbsp;<%=resultStatus[0].status%></p>
        </div>
        
        <div class="text" id="analyticsdef" style="display: none;">Analytics</div>
        <div class="text" id="rankingsdef" style="display: none;">Rankings</div>
    </section>




    <script >

        // search bar
        var rollNo = document.querySelector('#rollNo');

        rollNo.addEventListener('keyup', function(e) {
        if (event.key != 'Backspace' && (rollNo.value.length === 3 || rollNo.value.length === 7 ||
            rollNo.value.length === 12 || rollNo.value.length === 15))
        {
            rollNo.value += '-';
        }
        });

        // toggler
        const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

        // dark mode
        toggle.addEventListener("click" , () =>{
        sidebar.classList.toggle("close");
        })

        searchBtn.addEventListener("click" , () =>{
            sidebar.classList.remove("close");
        })

        modeSwitch.addEventListener("click" , () =>{
            body.classList.toggle("dark");

            if(body.classList.contains("dark")){
                modeText.innerText = "Dark mode";
            }else{
                modeText.innerText = "Light mode";

            }
        });

        // navigation of menu in sidebar
        document.getElementById("result").onclick=function(){
            document.getElementById("analyticsdef").style.display="none";
            document.getElementById("rankingsdef").style.display="none";
            document.getElementById("resultdef").style.display="block";
        }
        document.getElementById("analytics").onclick=function(){
            document.getElementById("resultdef").style.display="none";
            document.getElementById("rankingsdef").style.display="none";
            document.getElementById("analyticsdef").style.display="block";
        }
        document.getElementById("rankings").onclick=function(){
            document.getElementById("resultdef").style.display="none";
            document.getElementById("analyticsdef").style.display="none";
            document.getElementById("rankingsdef").style.display="block";
        }






    </script>



</body>
</html>
