<%-include("partials/header")%>

        <div class="text" id="resultdef" ><span class="resultscolor">Results<hr></span>

          <table class="studentinfo" width="1280" border="0">
          <tr>
          <td width="140"><span class="headingcolor">Name:</span>&nbsp&nbsp<%=(results[0].first_name)%>&nbsp<%=(results[0].last_name)%></td>
          <td width="70"><span class="headingcolor">Program:</span>&nbsp&nbsp<%=results[0].dept_name%></td>
          </tr>
          <tr>
          <td><span class="headingcolor">Regd.No.:</span>&nbsp&nbsp<%= results[0].regd_no%></td>
          <td><span class="headingcolor">Batch:</span>&nbsp&nbsp<%=results[0].batch%></td>
          </tr>
          </table>
          <!-- dropdown menu  -->


          <div class="dropdown-menu">
            <form action="/result" method="post">
                <select name="semester" class="semester" onchange="this.form.submit()">
                    <option id="1" value="1" >Semester 1</option>
                    <option id="2" value="2" >Semester 2</option>
                </select>
            </form>
        </div>

        <script>
          $("select option[value='"+<%=semNumber%>+"']").attr("selected","true");
        </script>
          <table class="roundedCorners" id="table1" width="873">
            <tr>
              <td><span class="headingcolor">Course Code</span></td>
              <td><span class="headingcolor">Course Name</span></td>
              <td><span class="headingcolor">Credit Point</span></td>
              <td><span class="headingcolor">Internal</span></td>
              <td><span class="headingcolor">End Sem </span></td>
              <td><span class="headingcolor">Total Marks</span></td>
              <td><span class="headingcolor">Grades</span></td>
              <td><span class="headingcolor">Grade Points</span></td>
            </tr>

            <%results.forEach(function(result){%>
              <tr>
                <%if(result.dept_id===1){%>
                  <td><%="BDS"+(result.course_code)%></td>
              <%  }else{ %>
                  <td><%="BCS"+(result.course_code)%></td>
              <%  }%>

                <td><%=result.name%></td>
                <td><%=result.credit_point%></td>
                <td><%=result.internal%></td>
                <td><%=result.end_sem%></td>
                <td><%=(result.internal + result.end_sem)%></td>
                <td><%=result.grades%></td>
                <td><%=(result.internal + result.end_sem)/10%></td>
              </tr>
            <%});%>

          </table>



          <table class="roundedCorners" id="table2"  >
            <tr>
              <td class="gpa">SGPA</td>
              <td class="gpa">CGPA</td>
            </tr>
            <tr>
              <td ><%=resultStatus[0].sgpa%></td>
              <td ><%=resultStatus[0].cgpa%></td>
            </tr>
          </table>
          <p id="status"><span id="statuscolor"> Result Status:</span>&nbsp;<%=resultStatus[0].status%></p>
        </div>

<%-include("partials/footer")%>
